:root {
    --primary: #964b4b;
}

.dash-table-container 
.dash-spreadsheet-container 
.dash-spreadsheet-inner th {
	background-color: var(--primary) !important;
    color: white
}

.btn, .btn-primary button {
	background-color: var(--primary) !important;
	border-color: var(--primary) !important;
}

.dash-table-container 
.dash-spreadsheet-container 
.dash-spreadsheet-inner th {
	border-left: none !important;
	border-right: none !important;
    font-family: 'Open Sans', sans-serif;
}

.dash-table-container 
.dash-spreadsheet-container 
.dash-spreadsheet-inner td {
	border-left: none !important;
	border-right: none !important;
    font-family: 'Fira Code', monospace
}

.dash-table-container 
.dash-spreadsheet-container 
.dash-spreadsheet-inner table {
    border: 1px solid rgb(211, 211, 211) !important;
}

.dash-table-container 
.dash-spreadsheet-container 
.dash-spreadsheet-inner tr:nth-child(even) td{
    background-color: #fafafa;
}

.dash-table-container 
.dash-spreadsheet-container 
.dash-spreadsheet-inner tr:hover  td{
    background-color: #eeeeee;
}
